
:root {
    --primary-color: #468cca;
    --secondary-color: #1c6cae;
    --font-color: #efecda;
    ;

}
.card{
    background-color: var(--primary-color);
    border-radius: 5px;
    max-width: 250px;
    min-width: 250px;
    min-height: 150px;
    margin-top: 10px;
    border:1px solid  var(--secondary-color);
    margin: 2px;
    color:var(--font-color);

}
.text-row{
    padding: 6px;
    border-bottom: 1px solid  var(--secondary-color);
}
.logo-text{
    font-size: 24px;
    font-weight: bold;
}
.title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: var(--secondary-color);
    color:var(--font-color);

}
.footer{
    text-align: center;
    background-color: var(--secondary-color);
    color:var(--font-color);
    font-size: 20px;
    font-weight: bold;
}